/*================ Header styling ========================*/
.site-header {

	@include media-breakpoint-down(md){
		overflow-x: hidden;
	}

	@include media-breakpoint-up(mq){
		.navbar-collapse {
			flex-grow: 0;
		}
	}
}

.sh-sticky-wrap.stuck {
  @include media-breakpoint-up(md) {
	  width: 100%;
	  position: fixed;
	  z-index: 99;
	  top: 0;
	  left: 0;
	  background-color: $white;
	  box-shadow: 0px 3px 6.93px 0.07px rgba(40, 40, 40, 0.44);
	  transition: none;
  }
}

.custom-logo-link {
	@include media-breakpoint-down(md) {
		max-width: 50%;
	}
}

.site-logo,
.navbar-brand {
	@include media-breakpoint-down(sm) {
		margin: 0 auto rem(15);
	}
}

.utility-nav {
	display: flex;
	align-items: center;
	justify-content: center;
	@include media-breakpoint-up(lg) {
		order: 2;
	}
}

.sh-ph,
.sh-email {
	margin-right: rem(16);
	font-size: rem(16);
	color: white;

	i,
	.material-icons {
		font-size: rem(24);
		color: white;
	}

	span:not(.material-icons) {
		display: none;
	}
}

.sh-ph a {
	margin-top: rem(3);
}

.social-icons {
  a {
    display: inline-block;
    color: $primary;
    font-size: rem(20);
    text-align: center;
    text-decoration: none;
    @include transition(opacity .2s);
    vertical-align: middle;

    i,
	.material-icons {
      display: inline-block;
      vertical-align: middle;
    }

    &:not(:last-child) {
    	margin: 0 rem(15) 0 0 !important;
    }

    &:hover {
      opacity: .9;
    }
  }

  li {
    padding: rem(5) 0;
  }
}

.header0 {
	.top-line {
		
		padding: rem(14) 0;
		background: $cyan;
		transition: all 0.2s ease-in-out;
		-moz-transition: all 0.2s ease-in-out;
		-webkit-transition: all 0.2s ease-in-out;
		-o-transition: all 0.2s ease-in-out;
		overflow: hidden;
		div[class^="col-"] {
			align-self: center;
		}
		p {
			color: white;
			margin: 0;
			span {
				margin-right: rem(20);
				i,
				.material-icons {
					font-size: rem(13);
					color: white;
					margin-right: rem(10);
				}
			}
		}

		a {
			color: $black;
			margin: 0;
			font-size: rem(18);
			font-weight: 500;
			i,

				.material-icons {
					font-size: rem(20);
					color: $black;
					margin-right: rem(10);
					vertical-align: middle;
				}
				&:hover, &:focus{
					color: $yellow;
					.material-icons {
							color: $yellow;
					}
				}
		}
		.sh-search ,.sh-email{
			margin-right: rem(46);
		}
		.sh-ph{
			margin: 0;
		}
		@include media-breakpoint-up(lg) {
		span:not(.material-icons) {
		display: inline-block;
	}

}
.social-icons{
			a{
				i{
				color: $yellow !important;
				font-size: rem(23);
				}
				&:nth-of-type(2n){
					i{
					color: $magenta !important;
					}
				}
				&:nth-of-type(3n){
					i{
					color: $dark-blue !important; 
					}
				}
			}
			}
		
		}


.sh-sticky-wrap, .sh-sticky-wrap.stuck {
	background-color: $dark-blue;
}
	.search-form-tigger {
		color: $primary;
		&:focus,
		&:hover {
			color: $primary;
			opacity: 0.8;
		}
	}

	&.active {
		.top-line {
			height: 0;
			padding: 0;
		}
	}

	.brand {
		width: rem(200);
		height: rem(90);
		display: table-cell;
		vertical-align: middle;
		a {
			display: block;
		}
	}

	.utility-nav {
		order: 0;
	}

	@include media-breakpoint-down(md) {
		.navbar-light .navbar-toggler.navbar-close-toggler {
		    color: white;
		    border-color: white;
		}
	}

	@include media-breakpoint-down(md) {
		.site-logo,
		.navbar-brand {
			margin: 0 auto rem(15);
		}

		.navbar {
			padding-bottom: 0;
		}

		.navbar-light .navbar-toggler {
		    color: white;
		    border-color: white;
		}

		.top-line {
			display: none;
			.btn {
				padding: rem(10) rem(20);
			}
		}

		.utility-nav {
			width: calc(100% + 30px);
		    margin: 0 -15px;
		    padding: 3.6px 15px;
		    background: $primary;
		    justify-content: space-between;
		    position: relative;

		    i,
			.material-icons {
		    	//color: white;
		    	color: $black;
		    	vertical-align: middle;
		    }

		    &:after,
		    &:before {
		    	content: '';
		    	width: 100%;
		    	height: 100%;
		    	display: block;
		    	position: absolute;
		    	z-index: -1;
		    	top: 0;
		    	right: 99%;
		    	background-color: $primary;
		    }

		    &:after {
		    	right: auto;
		    	left: 99%;
		    }
		}
			.site-nav-container{
				background: #429CDC;
			}
			.snc-header{
				background-color: transparent;
			}
  	}
  	@include media-breakpoint-up(lg) {
  		.navbar-expand-lg {
  			padding-top: rem(26);
  			padding-bottom: rem(26);
  			padding-left: 0;
  			padding-right: 0;
  		}

  	}
	@include media-breakpoint-up(xl) {
		.main-menu{
		.navbar-nav{
			>li{
				margin-right: rem(19);
				&:last-child{
					margin: 0;
				}
			}
		}
	}
	}

}

.header1 {
	.site-logo {
		margin: 0;
	}

	.m-subnav-arrow:after {
	    color: $white;
	}

	@include media-breakpoint-up(md) {
		.utility-nav {
			@include order(2);
		}
	}
}

.header2 {
	@include media-breakpoint-down(md) {
		.site-logo,
		.custom-logo-link {
		    margin: 0 auto;
		}

		.utility-nav {
			width: 100%;
    		justify-content: space-between;
		}
	}
}

.header4 {
	.custom-logo-link {
		margin: 0 auto;
	}
	.top-line {
		padding: rem(15) 0;
		i,
		.material-icons {
			color: $primary;
			vertical-align: middle;
		}
	}

	@include media-breakpoint-up(md) {
		.custom-logo-link {
			margin: 0 1rem 0 0;
		}
	}

	@include media-breakpoint-up(lg) {
		.sh-email span,
		.sh-ph span {
	    	display: inline-block;
	    	vertical-align: middle;
		}
	}
}

.header5 {
	.top-line {
		background-color: $light-gray;
	}

	.sh-email a,
	.sh-ph a {
		color: $black;
		text-decoration: none;

		i,
		.material-icons {
			color: $primary;
		}

		span {
			display: inline-block;
		}

		&:hover {
			color: $blue;

			i,
			.material-icons {
				color: $blue;
			}
		}
	}

	.sh-email:hover {
		span {
			text-decoration: underline;
		}
	}

	.navbar-light .navbar-toggler,
	.search-form-tigger,
	.social-icons a {
		color: $primary;
		border: none;
		&:hover {
			color: $blue;
		}
	}

	.social-icons {
		height: 100%;
		padding: rem(5) 0;
	    display: flex;
	    align-items: center;
	}

	.sh-search {
		margin-bottom: rem(3);
	}

	@include media-breakpoint-down(md) {
		.sh-email a span,
		.sh-ph a span {
			display: none;
		}

		.utility-nav {
			width: 100%;
			justify-content: space-between;
		}

		.sh-logo-wrap {
			width: 100%;
			text-align: center;
			margin-bottom: rem(20);
		}

		.sh-search {
			margin-bottom: 0;
		}
	}
}